.promo {
    min-height: 100vh;
    position: relative;
    background: url("../img/main_bg.jpg") no-repeat 50%/cover;;
    padding-top: 300px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__sub {
        &:before {
            background-color: $promo-color;
        }
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 270px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        text-decoration: none;
        border: 2px solid #fff;
        &:hover {
            transform: scale(1.05);
        }
    }
}