.promo {
    min-height: 100vh;
    position: relative;
    background: url("../img/main_bg.jpg") center (center/cover) no-repeat;;
    padding-top: 490px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
            color: #FFFFFF;
        }
    }
}