.title {
    font-weight: bold;
    color: #000;
    line-height: 60px;
    font-size: 36px;
    &_sub {
        font-size: 16px;
        line-height: 24px;
        position: relative;
        z-index: 1;
        padding-left: 10px;
        @include before_circle;
    }
    &_white {
        color: #fff;
    }
    &_center {
        text-align: center;
        padding-left: 0;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &_fz14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fz48 {
        font-size: 48px;
    }
}